$font-stack: 'CustomFont', Arial, sans-serif;
$bg-color: #080F29;


@font-face 
{
font-family: "CustomFont";
src: url("../font/Aquire.otf");
}

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: 'CustomFont', Arial, sans-serif;
}

::-webkit-scrollbar-track
{
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}

::-webkit-scrollbar
{
width: 5px;
background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: gray;
}

a
{
cursor:pointer;
}

body
{
margin: 0;
padding: 0;
width: 100vw;
font-family: 'Poppins', sans-serif;
background-color:$bg-color;
overflow-x: hidden;
scroll-behavior: smooth;
}

.logo
{
position: relative;
width: 5.5em;
left: 0;
}

nav
{
position: absolute;
left: 0;
right: 0;
top: 0;
padding: 3em 1em 3em 0em;
height:64px;
display: flex;
align-items: center;
width: 100%;
z-index: 20;
overflow: hidden;


#nav-toggle
{
position: absolute;
visibility: hidden;
}

.links
{
position: relative;
float: right;
padding: 0;
width: 100%;
height: 100%;
padding: 0em;
display: flex;
justify-content: end;
align-items: center;

li
{
list-style: none;
}
}

a
{
display: block;
margin: 2em;
font-size: 17px;
letter-spacing: 1px;
font-weight: 600;
color: #FB9C25;
text-decoration: none;
transition: 0.5s;

&:hover
{
color: gray;
}
}

.icon-burger
{
display: none;
position: absolute;
right: 5%;

.line
{
width: 30px;
height: 5px;
background-color: #FB9C25;
margin: 5px;
border-radius: 3px;
transition: all .3s ease-in-out;
}
}
}


.works-container
{
margin: 3em;

#myBtnContainer
{
position: relative;
margin: 8em 1em 3em 1em;
display: flex;
justify-content: center;
gap: 1em;

.btn 
{
border: none;
outline: none;
padding: 0;
margin: 1em;
padding: .5em .2em;
// background-color: #f1f1f1;
background-color: transparent;
color: whitesmoke;
letter-spacing: 1px;
font-size: 17px;
cursor: pointer;
text-align: center;
position: relative;
text-decoration: none;
display:inline-block;

&::after
{
content: '';
position: absolute;
bottom: 0%;
left: 0px;
width: 0%;
height: 1px;
background: -webkit-linear-gradient(90deg,#00b7ff 20%, #FB9C25 50%);
filter: drop-shadow(0 0 5px orange); 
display: block;
transition: .5s ease-in;
}

&::before
{
content: '';
position: absolute;
top:0;
left: 0px;
width: 0%;
height: 1px;
background: -webkit-linear-gradient(90deg,#ffffff 20%, #FB9C25 50%);
filter: drop-shadow(0 0 5px orange); 
display: block;
transition: .5s ease-in;
}

&:hover 
{
color: #ddd;

&::after
{
width: 100%;
}

&::before
{
width: 100%;
}
}

&:focus
{

&::after
{
width: 100%;
}

&::before
{
width: 100%;
}
}
}

.active 
{
// background: -webkit-linear-gradient(90deg,#00b7ff 20%, #FB9C25 50%);
// -webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
// text-shadow:1px 1px 5px rgba(245, 245, 245, 0.693);

&::after
{
width: 100%;
}

&::before
{
width: 100%;
}
}
}

.dropdown 
{
position: relative;
display: none;
margin-top:6em;
width: 20px;
border: none;

&:hover .dropdown-content 
{
display: block;
}

.dropbtn 
{
// color: white;
font-size: 16px;
cursor: pointer;
border: hidden;
margin-bottom: 1em;

img
{
width: 35px;
// background-color:#545d7c;
border: 1px solid gainsboro;
padding: .4em;
border-radius: .5em;
}
}

.dropdown-content 
{
display: none;
position: absolute;
background-color: #545d7c;
border-radius: .5em;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

a 
{
color: gainsboro;
padding: 12px 16px;
text-decoration: none;
display: block;
}

}
}

.filter
{
color: #ffffff;
text-align: center;
display: none;
box-shadow: 0 .4rem 1rem rgba(255, 255, 255, 0.219);
// border: 1px solid white;
// background: linear-gradient(145deg, #9b9b9b49, #8a8a8a00);
// background-color: #F5F5F5;
// border-radius: .5rem;
border: 1px solid gray;
background-color: gray;
// background: linear-gradient(145deg, #9b9b9b49, #8a8a8a00);
border-radius: 10px;
text-align: center;
// flex: 1 1 30rem;
background-color: #545d7c;
// padding: .1em;
position: relative;
color: rebeccapurple;
transition: .5s;
z-index: 3 !important;
overflow: hidden;

.inner-filter
{
overflow: hidden; 
position: relative;

.desc
{
display: none;
position: absolute;
z-index: 1;
color: white;
padding:1em;
line-height: 1.5em;
border-bottom-left-radius: .5rem;
border-bottom-right-radius: .5rem;
background-color: #545d7ce5;
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
letter-spacing: 1px;
font-size: 13px;
}

&:hover
{
.desc
{
display: block;
bottom: 0;
}
}

img
{   
transition: transform 0.5s ease-in-out;
width:100%;
height:13em;
border-radius: .5rem;
z-index:4;
opacity: 1;
// filter: grayscale(.5);
transition: .3s;

&:hover
{
transform: scale(1.1);
opacity: .7;
filter: grayscale(0);
}
}
}
}

#hidden
{
visibility: hidden;
}

.show 
{
display: block;
}

}
@media (min-width: 40rem) 
{
.show 
{
width: 30%;
}
}

.container 
{
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
margin:1em auto auto 5%;
padding: 1em 5em;
}

footer
{
background: linear-gradient(145deg, #9b9b9b49, #8a8a8a3f);
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding:0 2em 0 1em;

.logo
{
img
{
width:4rem;
}
}

.fdesc
{
color: gainsboro;
font-size: 1rem;
letter-spacing: 1px;

span
{
color: rgb(190, 220, 247);
}
}
}


@media(max-width: 600px)
{

nav
{
// background: linear-gradient(145deg, #5e5e5e, #8a8a8a);
// background-color: #545d7c;
background: linear-gradient(145deg, #545d7c, #8a8a8a);
z-index: 100;
position: fixed;
padding: 0;
height: 60px;
overflow: hidden;

.logo
{
position: fixed;
width:5em;
left: 0;
z-index: 5;
}

.links
{
float: none;
position: fixed;
z-index: 4;
left: 0;
right: 0;
top: 0;
bottom: 100%;
width: 100%;
height: auto;
flex-direction: column;
justify-content:flex-start;
overflow: hidden;
box-sizing: border-box;
transition: all .5s ease-in-out;
text-align: center;
background: linear-gradient(145deg, #545d7cd8, #8a8a8ace);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

a
{
font-size: 20px;
line-height: 1em;
}

li
{
:nth-child(1)
{
padding-top: 0em;
}

a:hover
{
color:gainsboro;
}

a:active
{
color: gainsboro;
}
}
}

:checked ~ .links
{
bottom: 0;
padding-top: 4em;
}

.icon-burger
{
display: block;
position: fixed;
right: 3%;
z-index: 4;
}

:checked ~ .icon-burger .line:nth-child(1)
{
transform: translateY(10px) rotate(225deg);
}

:checked ~ .icon-burger .line:nth-child(3)
{
transform: translateY(-10px) rotate(-225deg);
}

:checked ~ .icon-burger .line:nth-child(2)
{
opacity: 0;
}
}

#myBtnContainer
{
display: none !important;
}

.dropdown
{
display: block !important;
z-index: 10;
}

.filter
{
opacity: 1!important;
filter: none!important;

&:hover
{
filter:none;
}

.inner-filter
{
overflow: hidden !important; 

img
{   
transition: transform 0.5s ease-in-out;
width: 100% !important;
height: 10em !important;
opacity: 1 !important;
filter: none !important;
overflow: hidden !important;
}

.desc
{
// display: block !important;
bottom: 0% !important;
font-size: 10px !important;
padding: 0.5em 1em !important;
}
}
}

.container 
{
margin:2em 0em !important;
padding: 0em !important;
}

footer
{
position:absolute !important;
bottom: -140% !important;
padding:0 1em 0 .5em;

.logo
{
img
{
width:3rem;
}
}

.fdesc
{
color: gainsboro;
font-size:.8rem;

span
{
color: rgb(190, 220, 247);
}
}
}
}